<header>
    <h1>Nätflik</h1>

    <nav>
        <ul>
            <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
            <li><a routerLink="admin" routerLinkActive="active">Admin</a></li>
            <li><a routerLink="products" routerLinkActive="active">All Products</a></li>
            <li><a routerLink="categories" routerLinkActive="active">Categories</a></li>
            <li><a routerLink="search" routerLinkActive="active">Search</a></li>
            <li><a routerLink="cart" routerLinkActive="active">Cart</a></li>
        </ul>
    </nav>
</header>
